button, input {
  border: none;
  outline: none;
}

.container {
  max-width: 343px;
  padding: 0 16px;
  margin: 0 auto;
}

/* Umumiy stil */
h1, h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #344054;
}

p {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #344054;
}

span {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
}

.red {
  color: #f24236;
}

.nav1 {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}

.nav1 .fa-solid {
  color: gray;
  font-size: 24px;
  cursor: pointer;
}

.nav1 .search {
  display: flex;
  align-items: center;
  position: relative;
}

.nav1 .search .fa-solid {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 16px;
}

.nav1 .search input {
  width: 306px;
  height: 36px;
  background-color: #f5f6f8;
  border-radius: 10px;
  padding-left: 30px;
}

.nav2 p span {
  color: #f24236;
}

.nav3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav3 p {
  font-size: 14px;
  color: #2f2f2f;
}

.carousel {
  position: relative;
}

.owl-carousel {
  padding-top: 10px;
}

.owl-carousel .item img {
  width: 100%;
  height: 279px;
  object-fit: contain;
}

.heart {
  color: red;
  position: absolute;
  top: 25px;
  right: 30px;
  font-size: 20px;
}

/* Mahsulot nomi va narx */
.name h1 {
  font-size: 18px;
}

.name .empty {
  display: flex;
  align-items: center;
  gap: 20px;
}

.name .empty span {
  color: #f24236;
  background-color: #f1b6b2;
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}

.name .price {
  font-weight: 700;
  font-size: 22px;
  color: #f24236;
}

.name .price span {
  font-size: 14px;
}

.name .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.name .buttons .buy {
  width: 279px;
  height: 40px;
  border-radius: 8px;
  background-color: #f24236;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.name .buttons .comment {
  width: 56px;
  height: 40px;
  border-radius: 8px;
  background-color: #f242361a;
  color: #f24236;
  font-size: 16px;
}

/* Sotuvchi */
.seller h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.seller h3 span {
  font-size: 15px;
  color: #f24236;
}

.seller .amazon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.seller .amazon img {
  width: 80px;
  height: 56px;
  object-fit: contain;
}

.seller .amazon p {
  font-size: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.seller .amazon p span {
  font-size: 13px;
  color: #667085;
}

.seller .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-top: 10px;
}

.seller .buttons .all {
  width: 167.5px;
  height: 40px;
  border-radius: 8px;
  background-color: #f24236;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
}

.seller .buttons .order {
  width: 167.5px;
  height: 40px;
  border-radius: 8px;
  background-color: #f2423624;
  color: #f24236;
  font-weight: 600;
}

/* O‘xshash mahsulotlar */
.thinks h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: 30px;
}

.thinks .cards {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.thinks .cards .card {
  width: 166px;
  position: relative;
}

.thinks .cards .card img {
  width: 100%;
  height: 94px;
  object-fit: contain;
}

.thinks .cards .card h3 {
  font-size: 13px;
  padding-left: 10px;
}

.thinks .cards .card p {
  font-size: 12px;
  color: #129a1b;
  padding-left: 10px;
}

.thinks .cards .card .price {
  font-weight: 700;
  font-size: 18px;
  color: #f24236;
  padding-left: 10px;
}

.thinks .cards .card .price span {
  font-size: 14px;
}

.thinks .cards .card .location {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
}

.thinks .cards .card .location span {
  font-size: 12px;
}

.thinks .cards .card .fa-heart {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  color: #d4d4d5;
}

/* Qidiruv */
.find h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  line-height: 30px;
}

.find .think {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.find .think p {
  font-size: 15px;
  border: 1px solid #90aacd;
  padding: 6px;
}
